<ion-content class="login-content" fullscreen>

  <!-- Card principal -->
  <div class="login-card">

    <!-- Header con imagen -->
    <div class="login-header">
      <h2>Welcome myApp Spotify</h2>
  
    </div>

    <!-- Imagen de usuario -->
    <figure class="profile-default-image ion-text-center">
      <img src="assets/user.jpg" />
      <p>Ingresa tus datos</p>
    </figure>

    <!-- Formulario -->
    <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">

      <!-- Email -->
      <ion-item lines="none" class="custom-input">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input
          type="email"
          placeholder="Email o usuario"
          formControlName="email">
        </ion-input>
      </ion-item>

      <div class="validation-message"
        *ngFor="let validation of validation_messages.email">
        <div *ngIf="loginForm.get('email')?.hasError(validation.type)
          && loginForm.get('email')?.dirty">
          {{ validation.message }}
        </div>
      </div>

      <!-- Password -->
      <ion-item lines="none" class="custom-input">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Contraseña"
          formControlName="password">
        </ion-input>
        <ion-icon
          slot="end"
          [name]="showPassword ? 'eye-off' : 'eye'"
          class="toggle-password-icon"
          (click)="togglePasswordVisibility()">
        </ion-icon>
      </ion-item>

      <div class="validation-message"
        *ngFor="let validation of validation_messages.password">
        <div *ngIf="loginForm.get('password')?.hasError(validation.type)
          && loginForm.get('password')?.dirty">
          {{ validation.message }}
        </div>
      </div>

      <!-- Opciones -->
      <div class="login-options">
        <ion-item lines="none">
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>Remember</ion-label>
        </ion-item>
        <a class="forgot">Forgot password?</a>
      </div>

      <!-- Botón LOGIN -->
      <ion-button
        expand="block"
        shape="round"
        class="login-button"
        [disabled]="!loginForm.valid"
        type="submit">
        LOGIN
      </ion-button>

      <!-- Botón Create Account -->
      <ion-button
        expand="block"
        fill="outline"
        shape="round"
        color="secondary"
        routerLink="/register">
        Create Account
      </ion-button>

    </form>
  </div>

</ion-content>