<ion-content [fullscreen]="true">
  <div class="intro-wrapper">
    <!-- Background Decor -->
    <div class="blob-bg"></div>
    <div class="blob-bg secondary"></div>

    <swiper-container pagination="true" class="intro-slider">
      <swiper-slide *ngFor="let slide of slides; let last = last" class="slide-content">
        <div class="image-container animate-up">
          <img [src]="slide.img" [alt]="slide.title" />
          <div class="icon-badge" [attr.color]="slide.color">
            <ion-icon [name]="slide.icon"></ion-icon>
          </div>
        </div>

        <div class="text-container">
          <h1 class="slide-title">{{ slide.title }}</h1>
          <p class="slide-desc">{{ slide.desc }}</p>
        </div>

        <div class="footer-actions" *ngIf="last">
          <ion-button fill="clear" (click)="toggleTheme()" class="theme-btn">
            <ion-icon name="color-palette-outline" slot="start"></ion-icon>
            Tema: {{ getCurrentTheme() | titlecase }}
          </ion-button>

          <ion-button expand="block" shape="round" (click)="finishIntro()" class="start-btn">
            Comenzar
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </div>
      </swiper-slide>
    </swiper-container>

    <ion-button *ngIf="true" fill="clear" (click)="finishIntro()" class="skip-btn">
      Saltar
    </ion-button>
  </div>
</ion-content>