<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" side="end">
    <ion-header>
      <ion-toolbar>

        <ion-buttons slot="start">
          <ion-menu-toggle auto-hide="false">
            <ion-button fill="clear">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>

        <ion-title>Menu</ion-title>

      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item button routerLink="/menu/home" routerDirection="root">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item button routerLink="/menu/artist" routerDirection="root">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label>Artistas</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item-divider></ion-item-divider>

        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="irAIntro()">
            <ion-icon name="play-circle-outline" slot="start"></ion-icon>
            <ion-label>Ver Intro</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="logout()" color="danger">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>