.slide-content {
  text-align: center;
  padding: 10px;
}
.slide-content img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 10% 0;
}
.slide-content h2 {
margin : 0;
font-size: 25px;  
color:rgb(124, 10, 25) 
}

.slide-content p {
  font-size: 20px;
  color:#a51b1b;
}