<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="register()">
    <ion-list>

      <ion-item>
        <ion-input
          label="Usuario"
          labelPlacement="floating"
          [(ngModel)]="username"
          name="username"
          placeholder="Tu nombre">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Correo electrónico"
          labelPlacement="floating"
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="ejemplo@correo.com">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Contraseña"
          labelPlacement="floating"
          type="password"
          [(ngModel)]="password"
          name="password">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Confirmar Contraseña"
          labelPlacement="floating"
          type="password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Fecha de nacimiento"
          labelPlacement="floating"
          type="date"
          [(ngModel)]="birthdate"
          name="birthdate">
        </ion-input>
      </ion-item>

    </ion-list>

    <div class="ion-padding-top">

      <ion-button expand="block" type="submit">
        Registrarse
      </ion-button>

      <ion-button
        expand="block"
        fill="clear"
        type="button"
        routerLink="/login">
        ¿Ya tienes cuenta? Inicia sesión
      </ion-button>

    </div>
  </form>

</ion-content>